- content_for :title do
	= "Cheap Storage |"
= render partial: 'partials/alt_landingpage', locals: {title: "Cheap Convenient Storage Made For Your Budget", subtitle: "We Offer The Best Storage Prices Around", main_img:"https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", description1: "Secure storage facility at an affordable price in Boulder", description2: "Take the self out of self storage with QuickBox: We handle the moving", description3: "We pick up and deliver your items on demand", extra_classes:""}