- content_for :title do
	= "Boulder and Denver Student Storage |"
= render partial: 'partials/alt_landingpage', locals: {title: "Student Storage Made Easy", subtitle: "We Pick Up and Deliver Your Items to Storage", main_img:"https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", description1: "No need to rent a truck or visit a storage unit ever again", description2: "We handle all the moving and storage", description3: "Affordable student pricing specifically for Boulder and Denver area university students", extra_classes:""}