- content_for :title do
	= "Garage Organization |"
= render partial: 'partials/alt_landingpage', locals: {title: "Get Your Garage Back", subtitle: "Stop Wasting All Your Garage Space On Stuff You Don't Use Daily", main_img:"https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", description1: "Store those bikes, snowboards and offseason gear with QuickBox", description2: "We pick up directly at your home and securely store your items", description3: "Your stuff is available for delivery when you need it", extra_classes:""}