- content_for :title do
	= "Homepage |"
= render partial: 'partials/alt_landingpage', locals: {title: "On Demand Personal Storage", subtitle: "We Pick Up & Deliver", main_img:"https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", description1: "Storage starts at $50 per month", description2: "Full service: We handle the moving & storage", description3: "Secure, insured, reliable service", extra_classes:""}