- content_for :title do
	= "Luxury Landing Page |"
= render partial: 'partials/landing_page', locals: {title: "White Glove Storage Valet", subtitle: "You Deserve Better. Stop Storing The Old Way.", main_img:"https://s3.amazonaws.com/storage_rails_app_dev/images/luxury.jpg", description: "Quickbox's professional staff will pickup your items right from your home, securely load them onto our truck, then transport them to our secure warehouse for safe, reliable storage. Just click \"deliver\" when you want something back and we'll bring it right to you!", extra_classes:"bright-bg"}
