- content_for :title do
	= "Premium Luxury Storage |"
= render partial: 'partials/alt_landingpage', locals: {title: "White Glove On Demand Storage in Denver & Boulder", subtitle: "Luxury Valet Storage: Picked Up & Delivered", main_img:"https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", description1: "Let QuickBox's full service team handle all the hard work", description2: "We pick up, move, and securely store your personal belongings", description3: "Quick delivery service of your items when you need them", extra_classes:""}