- content_for :title do
	= "Denver and Boulder Moving and Storage |"
= render partial: 'partials/alt_landingpage', locals: {title: "Denver & Boulder Storage On Demand", subtitle: "We Move & Securely Store Furniture, Boxes, And More", main_img:"https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", description1: "Locally owned and operated moving & storage company", description2: "We handle the hard work when moving stuff to storage", description3: "Low prices. Only pay for the space you actually need with by the item pricing.", extra_classes:""}