

= render partial: 'partials/national_landing', locals: {title: " Storage A Click Away", subtitle: "flexible storage, picked up & delivered", main_img:"https://s3.amazonaws.com/storage_rails_app_dev/images/homepage_bg_1.png", description: "Quickbox's professional staff will pick up your items right from your home, carefully load them, then transport them to our secure warehouse for safe, reliable storage. Just click \"deliver\" when you want something back and we'll bring it straight to you!", extra_classes:""}
