- content_for :title do
  = "404 |"
= render partial: 'partials/standard_header'


/ SECONDARY HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header
  .row
    .col-md-12.align-center
      %h1 Oops...
    / Dashboard

%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2
              404! Sorry, but this page 
              %br/ 
              doesn't exist!
            %br/
            %p
              If you reached this page in error, please email
              %a{:href => "mailto:team@quickbox.com"} team@quickbox.com

= render partial: "partials/footer"