- content_for :title do
  = "500 |"
= render partial: 'partials/standard_header'

/ SECONDARY HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header
  .row
    .col-md-12.align-center
      %h1 Oops...
    / Dashboard

%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2
              There Seems To Be 
              %br/ 
              a Technical Issue
            %br/
            %p
              We'll look into finding a fix. In the meantime, if this issue is pressing please email:
              %a{:href => "mailto:team@quickbox.com"} team@quickbox.com

= render partial: "partials/footer"