=stylesheet_link_tag "email"


.email
  .email-header-nav
    %ul.no-list#email-header
      %li.width-50.pull-left.align-left
        %a{href: "http://www.quickbox.com"}
          %img#email-menu-img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/qb-logo.png", :alt => ""}/
        %span#email-menu-title
          QuickBox
          %span.no-pointer#company-phone (303) 718-7179
  
  #email-title
    %h2 Pickup Confirmation

  .email-body

    // Introduction
    %br/
    .div 
      %p
        %br/ 
        %br/ 
        Thanks for scheduling a pickup. You will find details about your recent request below. If you have any questions, please don't hesitate to contact us. We're here to help!
      

      %br/ 
      %br/ 
      .divider-line
      %br/ 
      %br/ 
      
      .div
        %p.align-left
          %span.heavy-font Pickup Date:
          =@pickup_request.delivery_time.strftime("%B %d at %l:%M %p")
          %br/ 
          %span.heavy-font Pickup Address:
          =@pickup_request.user.address_line_1
          =@pickup_request.user.address_line_2
          =@pickup_request.user.city
          ,
          =@pickup_request.user.state
          =@pickup_request.user.zip
          %br/ 
          %span.heavy-font Special Instructions:
          =@pickup_request.user.special_instructions
        %br/ 
        %p.align-left
          %span.heavy-font Contact Name:
          =@pickup_request.user.first_name
          =@pickup_request.user.last_name
          %br/ 
          %span.heavy-font Phone Number:
          =@pickup_request.user.phone_number

      %br/ 
      %br/ 
      .divider-line
      %br/ 
      %br/ 

      .div
        %p
          Your QuickBox driver will call you one hour prior to arrival. Please remember, someone must be present at time of pickup.

          %br/ 
          %br/ 

          If you want to change the date or time of your pickup, log in to your QuickBox account and click the 
          %a.blue{:href => "http://www.quickbox.com"} 
            "edit request"
          button in the top right corner. Otherwise, if you have any questions please reply to this e-mail or call us at (303) 718-7179. 
          %br/ 
          %br/ 
          We make storage easy. Let us know if we can help you in any way.

          %br/ 
          %br/
          %br/ 
         

    .bottom-button
      %a{:href => "http://www.quickbox.com"} Visit QuickBox
      / =link_to "Visit QuickBox", storage_items_path
    %br/ 
  .blue-footer
