=stylesheet_link_tag "email"


.email
  .email-header-nav
    %ul.no-list#email-header
      %li.width-50.pull-left.align-left
        %a{href: "http://www.quickbox.com"}
          %img#email-menu-img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/qb-logo.png", :alt => ""}/
        %span#email-menu-title
          QuickBox
          %span.no-pointer#company-phone (303) 718-7179
  
  .email-title
    %h1 Delivery Receipt

  .email-body

    %br/
    .div 
      %p
        Hi #{@user.first_name},
        %br/ 
        %br/ 
        This is your digital receipt to confirm the delivery of 
        = @delivery_request.storage_items.count
        items to
        = @delivery_request.user.address_line_1
        on
        =@delivery_request.delivery_time.strftime("%B %d at %l:%M %p")


        %br/ 
        %br/ 

        Please 
        %a.blue{:href => "mailto:team@quickbox.com"} 
          get in touch
        if you have any questions or feedback about how we can improve your experience. We're here to help!
        %br/ 
        %br/ 
        Best,
        %br/ 
        The QuickBox Team
        %br/ 

      %br/ 
      %br/ 
      .divider-line
      %br/ 
      %br/ 
      
      .div
        %h2.align-center
          Items Delivered

          
        - @delivery_request.storage_items.each do |delivery_item|
          / # = image_tag(delivery_item.image_url, class: "img-responsive")                    
          %p.align-center= delivery_item.get_title

      %br/ 
      %br/ 
      .divider-line
      %br/ 
      %br/ 

      
         

    .bottom-button
      %a{:href => "http://www.quickbox.com"} 
        Visit QuickBox
    %br/ 
  .blue-footer
