
.row.header-nav
  .nav-links-wrapper.col-md-4.col-sm-4.col-xs-7
    %a.no-padding.pull-left{href: "/storage_items"}
      %img#menu-img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/qb-logo.png", :alt => ""}/
    %a.pull-left.no-side-padding{href: "/storage_items"}
      %span.light-gray.black-hover#menu-title QuickBox
  .nav-links-wrapper.col-md-2.col-md-offset-2.col-sm-2.left-border.col-xs-1
    .nav-links
      = link_to "Contact", contact_path, class:"black-hover", target:"_blank"
  .nav-links-wrapper.col-md-2.col-sm-2.left-border.col-xs-1
    .nav-links
      = link_to "FAQ", contact_path, class:"black-hover", target:"_blank"
      / = link_to "Account", [:edit, @user], class:"light-gray black-hover"
  .nav-links-wrapper.col-md-2.col-sm-2.col-xs-3
    .no-border.nav-links
      = link_to "Login", destroy_user_session_path, method: "delete", class:"black-hover blue"

        





/ SECONDARY HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header
  .row
    .col-md-12.align-center
      %h1 Pickup Reminder

    / Dashboard

%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container

      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            / %h2 title
            %br/
            %p

              We wanted to let you know that you have a pickup scheduled for tomorrow.
              
              %br/ 
              %br/ 
              Your QuickBox driver will call you one hour prior to arrival to ensure there will be someone present at time of pickup.

              If you have any questions in the meantime or if there is any way we can be of assistance, 
              %a.blue{:href => "mailto:team@quickbox.com"} please let us know.
              We're here to help. 




              %br/ 
              %br/
      .row
        .width-30-centered.half-opacity
          .single-line
          %br/ 
      .row
        .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
          %h3.double-underlined Pickup Details 
          .double-line
          %p.align-left
            %span.heavy-font Pickup Date:
            =@pickup_request.pickup_time.strftime("%B %d at %l:%M %p")
            %br/ 
            %span.heavy-font Pickup Address:
            =@pickup_request.user.address_line_1
            =@pickup_request.user.address_line_2
            =@pickup_request.user.city
            ,
            =@pickup_request.user.state
            =@pickup_request.user.zip
            %br/ 
            %span.heavy-font Special Instructions:
            =@pickup_request.user.special_instructions
          %br/ 
          %h3.double-underlined Contact Details
          .double-line
          %p.align-left
            %span.heavy-font Contact Name:
            =@pickup_request.user.first_name
            =@pickup_request.user.last_name
            %br/ 
            %span.heavy-font Phone Number:
            =@pickup_request.user.phone_number
           
    %br/ 
      
  / BODY CONTENT: SELECT ITEMS
  .container
    .row
      .col-md-8.col-md-offset-2
        .row
          / End Phone Number &amp; Instructions Box
          .col-md-8.col-md-offset-2.half-opacity.charges-box
            .single-line
            %br/
          .col-md-6.col-md-offset-3.bottom-buttons
            .boxed-gray.continue-button
              %button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"}/
              =link_to "Login To QuickBox", storage_items_path, class:"white"
= render partial: "partials/footer"