=stylesheet_link_tag "email"


.email
  .email-header-nav
    %ul.no-list#email-header
      %li.width-50.pull-left.align-left
        %a{href: "http://www.quickbox.com"}
          %img#email-menu-img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/qb-logo.png", :alt => ""}/
        %span#email-menu-title
          QuickBox
          %span.no-pointer#company-phone (720) 583-5826
  
  #email-title
    %h2 Pickup Receipt

  .email-body

    %br/
    .div 
      %p
        %br/ 
        We wanted to let you know that your items from your most recent pickup have been carefully put in storage.
        You can view each item, request another pickup, or have items returned to you from
        =link_to storage_items_path, class:"blue" do
          your dashboard. 
        %br/ 
        %br/ 
        In the meantime, if you have any questions or feedback about how we can improve your experience please
        %a{:href => "mailto:team@quickbox.com"} let us know!
        %br/ 
        %br/ 
        We're here to help!

        %br/ 
        %br/ 

        Best,
        %br/ 
        The QuickBox Team
        %br/ 
       
      %br/ 
      %br/ 
      .divider-line
      %br/ 
      %br/ 
      
      .div
        %h2.align-center
          Items Put In Storage

          
        - @pickup_request.storage_items.each do |storage_items|
          / # = image_tag(delivery_item.image_url, class: "img-responsive")                    
          %p.align-center= storage_items.get_title

      %br/ 
      %br/ 
      .divider-line
      %br/ 
      %br/ 

      
         

    .bottom-button
      %a{:href => "http://www.quickbox.com"} 
        Visit QuickBox
    %br/ 
  .blue-footer
