= render :partial => 'partials/header'


/ BLUE HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header.single-row
  .row
    .col-md-7.align-center
      %h1 REQUEST STORAGE SUPPLIES
    / Dashboard
    .col-md-1.col-md-offset-2.col-sm-4.col-xs-4.align-center
      .service-box
        %a{:href => "user-dashboard.html"}
        .service-icon
          %i.fa.fa-dashboard
        .service-desc
          %h6 Dashboard
    / Questions
    .col-md-1.col-sm-4.col-xs-4.align-center
      .service-box
        %a{:href => "faq.html"}
        .service-icon
          %i.fa.fa-question-circle
        .service-desc
          %h6 FAQ


/ /////////// MAIN BODY CONTENT ///////////////////
%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 WHAT ARE YOU STORING?
 
  / BODY CONTENT: SELECT ITEMS
  .container.inventory
    .row
      .col-md-10.col-md-offset-1
        .row
          = form_for(@box_request, html: {id: "selected-boxes-form"}) do |f| 
            .col-md-8
              
              / //////////// ITEMS AT HOME /////////////////////////          
              .row
                %h2
                  Standard Storage
                  %a.pull-right{:href => ""} Want More Information?
                .double-line
                / Item listing
                .col-md-6.col-sm-6.col-xs-6.inventory-entries
                  .inner
                    .avatar
                      %img.img-responsive{:alt => "", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg"}/
                    .row
                      .col-md-3.col-sm-12.col-xs-12.button-group
                        %input#txt-stdbox.form-control.full-width.quantity-field{:placeholder => "0", :type => "text"}/
                        %button#stdbox.btn.btn-primary.btn-inc{:type => "button"} +
                      .col-md-9.col-sm-12.col-xs-12.text-group
                        %h4 Standard Box
                        %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12 $6.25/month, 22" x 18" x 12"

                / Item listing
                .col-md-6.col-sm-6.col-xs-6.inventory-entries
                  .inner
                    .avatar
                      %img.img-responsive{:alt => "", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg"}/
                    .row
                      .col-md-3.col-sm-12.col-xs-12.button-group
                        %input#txt-warbox.form-control.full-width.quantity-field{:placeholder => "0", :type => "text"}/
                        %button#warbox.btn.btn-primary.btn-inc{:type => "button"} +
                      .col-md-9.col-sm-12.col-xs-12.text-group
                        %h4 Wardrobe Box
                        %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12 $6.25/month, 22" x 18" x 12"
              %br/
              %br/

              / ///////////// Specialty storage ////////////////////////
              .row
                %h2
                  Specialty Storage
                  %a.pull-right{:href => ""} Want More Information?
                .double-line

                / Item listing
                .col-md-6.col-sm-6.col-xs-6.inventory-entries
                  .inner
                    .avatar
                      %img.img-responsive{:alt => "", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg"}/
                    .row
                      .col-md-3.col-sm-12.col-xs-12.button-group
                        %input#txt-couch.form-control.full-width.quantity-field{:placeholder => "0", :type => "text"}/
                        %button#couch.btn.btn-primary.btn-inc{:type => "button"} +
                      .col-md-9.col-sm-12.col-xs-12.text-group
                        %h4 Medium Couch
                        %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12 $6.25/month, 22" x 18" x 12"

                / Item listing
                .col-md-6.col-sm-6.col-xs-6.inventory-entries
                  .inner
                    .avatar
                      %img.img-responsive{:alt => "", :src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg"}/
                    .row
                      .col-md-3.col-sm-12.col-xs-12.button-group
                        %input#txt-bike.form-control.full-width.quantity-field{:placeholder => "0", :type => "text"}/
                        %button#bike.btn.btn-primary.btn-inc{:type => "button"} +
                      .col-md-9.col-sm-12.col-xs-12.text-group
                        %h4 Bicycle
                        %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12 $6.25/month, 22" x 18" x 12"
              %br/
              %br/
              .row
                .col-md-12.col-sm-12.col-xs-12.align-left
                  %h2
                    FAQ
                    %a.pull-right{:href => ""} Find The Full List Here
                  .double-line
                  %ul.no-list
                    %li
                      %a{:href => ""} Want To Store Something Really Big? We can do that!
                    %li
                      %a{:href => ""} Nullam id dolor id nibh ultricies valera?
                    %li
                      %a{:href => ""} Cras mattis consectetur purus sit amet fermentum purus sit amet.
                    %li
                      %a{:href => ""} Can I pay with gold coins?
                    %li
                      %a{:href => ""} What is the average velocity of an African swollow?
              %br/
              %br/
              %br/

          / /////////////////  SIDEBAR //////////////////// 
          .col-md-4.inventory-sidebar
            .row.sidebar-txtentry.light-blue-bg
              .inner
                %p
                  Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.
            .row.sidebar-txtentry.bg-gray
              .inner
                %h5 Your Order
                .single-line
                %ul.no-list
                  %li#no-items.order-item.half-opacity
                    %i You have no items in your order.
                  %li#num-stdbox.order-item.hidden
                    Standard Box
                    %span.pull-right 0
                  %li#num-warbox.order-item.hidden
                    Wardrobe Boxes
                    %span.pull-right 0
                  %li#num-couch.order-item.hidden
                    Couches
                    %span.pull-right 0
                  %li#num-bike.order-item.hidden
                    Bikes
                    %span.pull-right 0
                  %li.order-item
                    .single-line.half-opacity
                %ul.no-list
                  %li.heavy-font
                    Subtotal
                    %span#order-subtotal.pull-right $00.00/m
            .row
              .boxed-gray.continue-button#delivery-submit-btn
                %a{:href => "user-nb-delivery.html"}
                  %button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"} Request Storage
            %br/
            %br/


%input#01-stdbx-txt.form-control.full-width{:placeholder => "0", :type => "text"}/
%button#01-stdbx.btn.btn-primary.btn-inc{:type => "button"} +
:javascript
  $(".btn-inc").click(function(){
    var id = $(this).attr('id');

    // update text field - incrememnt by one
    var field = $("#txt-"+id);
    var val = $(field).val();
    val = +val + 1;
    $(field).val(val);

    // update subtotal
    var orderEntrySpan = $('#num-'+id+" span");
    // redoCalculations();
    refreshOrder(val, orderEntrySpan);
  });

  $(".quantity-field").change(function(){
    var field = $(this);
    var id = field.attr("id");
    var idRoot = id.substr(4);
    console.log(idRoot);
    console.log(field.attr('id'));
    var orderEntrySpan = $('#num-'+idRoot+ " span");
    refreshOrder(field.val(), orderEntrySpan);
  });

  function refreshOrder(val, orderEntrySpan){
    orderEntrySpan.html(parseInt(val));
    var orderEntry = orderEntrySpan.parent();
    
    if (val == 0) orderEntry.addClass('hidden');
    else orderEntry.removeClass('hidden');
    
    redoCalculations();
  }

  function redoCalculations(){
    var numCouches = $('#txt-couch').val();
    var numStdBox = $('#txt-stdbox').val();
    var numWarBox = $('#txt-warbox').val();
    var numBike = $('#txt-bike').val();
    
    var totalItems = numBike + numCouches + numStdBox + numWarBox;
    if (totalItems > 0) $('#no-items').addClass('hidden');
    else $('#no-items').removeClass('hidden');

    var total = 15.00*numBike + 30.00*numCouches + 6.25*numStdBox + 12.00*numWarBox;
    console.log("total:" + total);
    $('#order-subtotal').text("$" + total+"/m");

      if (tota < 0.1) $("#requst-btn").attr("disabled", "disabled");
    else {
        console.log("Delivery BUTTON REMOVING DISABLED");
        $("#delivery-button").removeAttr("disabled"); 
        $(".pickup-entry").removeClass("selected-item");
        $("#pickup-button").attr("disabled", "disabled");
        numPickupItems = 0;  
     } 
  }

  $("#delivery-submit-btn").click(function(){
    $("#selected-boxes-form").submit();
  });









= render :partial => 'partials/footer'