/ HEADER PARTIAL
.container
  %ul#gn-menu.gn-menu-main.main-header.full-opacity
    %li.gn-trigger.no-border
      %a.no-padding{href: "/storage_items"}
        %img#menu-img{:src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/syn-logo.png", :alt => ""}/
  
    // ICON & TITLE
    %li.pull-left.no-border.half-opacity
      %a.no-side-padding{href: "/storage_items"}
        %span.light-gray.black-hover#menu-title The Space You Need

    // RIGH SIDE LINKS    
    %li.pull-right
      = link_to "Logout", destroy_user_session_path, method: "delete", class:"black-hover"
   
   
    %li.pull-right.no-border
      %a.light-gray.black-hover{:href => "#delivery-requests"} Deliveries
    %li.pull-right.no-border
      %a.light-gray.black-hover{:href => "#supplies-requests"} Supplies
    %li.pull-right.no-border
      %a.light-gray.black-hover{:href => "#pickup-requests"} Pickups
    %li.pull-right.no-border
      %a.light-gray.black-hover{:href => ""} Top of Page



