.col-md-12.align-center
  .section-heading
    %br/
    %br/
    %br/
    %h1.black Benefits
    %br/
    %br/
.row.align-center
  .col-md-4.benefit-box
    %h4
      %img{class: "benefits-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/Clock43.png", alt: "Secure facility"}/
      Save Time 
    
    %p Loading up your stuff, driving to a storage facility, stacking your items in a unit, and driving back takes a lot of time. Let us take care of everything - you have better things to do.
  .col-md-4.benefit-box
    %h4
      %img{class: "benefits-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/sport21.png", alt: "Secure facility"}/
      Less Effort
    
    %p Our team does all of the heavy lifting so you don't have to. We make sure your items are ready for transport, and make the move happen.  
  .col-md-4.benefit-box
    %h4
      %img{class: "benefits-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/money132.png", alt: "Secure facility"}/
      Save Money
    %p Since we charge by the item, you never have to pay for a half empty storage unit. Our service costs less than most self storage facilities while delivering far more service.
%br/
%br/
%br/
.row.align-center
  .col-md-4.benefit-box
    %h4 
      %img{class: "benefits-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/padlock27.png", alt: "Secure facility"}/
      Secure
    
    %p Your items are stored in a secure, climate controlled facility, plus we provide insurance as an extra backup. 
  .col-md-4.benefit-box
    %h4
      %img{class: "benefits-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/calendar68.png", alt: "Secure facility"}/
      On Demand
    
    %p You can schedule pickups and deliveries around your schedule, and we'll show up as early as tomorrow. Your convenience is our priority.
  .col-md-4.benefit-box
    %h4 
      %img{class: "benefits-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/license3.png", alt: "Secure facility"}/
      Professional
    
    %p We're licensed, bonded and insured so you can rest easy knowing QuickBox will take care of it. Never worry about your stuff again.

  