.col-md-12.align-center
  .section-heading
    %br/
    %br/
    %br/
    %h1 Benefits
    %p.align-center Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    %br/
    %br/
.row.align-center
  .col-md-4.benefit-box
    %h4 Save
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  
  .col-md-4.benefit-box
    %h4 Save
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  
  .col-md-4.benefit-box
    %h4 Save
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
%br/
%br/
%br/
.row.align-center
  .col-md-4.benefit-box
    %h4 Save
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  
  .col-md-4.benefit-box
    %h4 Save
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  
  .col-md-4.benefit-box
    %h4 Save
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.