.col-md-12.align-center
  .section-heading
    %br/
    %br/
    %br/
    %h1 Benefits
    %p.align-center QuickBox is Simpler. Smarter. Easier. It's the modern way to store your stuff. You receive all the benefits of traditional storage, plus you’ll save time and money, not to mention you won't break your back doing it! The roadmap below gives you a high level view into the QuickBox process. Or if you're interested in the details check out the links to the left for a more in-depth look.
    %br/
    %br/
.row.align-center
  .col-md-4.benefit-box
    %h4 Save Time 
    %img{class: "security-section-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/Clock43.png", alt: "Secure facility"}/
    %p Moving & Storage is a time consuming activity. When QuickBox takes care of the logistics you save time for the more important things in life.  
  .col-md-4.benefit-box
    %h4 Less Effort
    %img{class: "security-section-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/sport21.png", alt: "Secure facility"}/
    %p Our team does all of the heavy lifting so you won’t have to. We make sure your items are ready for transport, and make the move happen.  
  .col-md-4.benefit-box
    %h4 Save Money
    %img{class: "security-section-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/money132.png", alt: "Secure facility"}/
    %p Time is money, but with QuickBox you save more than just that. Our service is priced below or at traditional self storage prices while delivering way more service.
%br/
%br/
%br/
.row.align-center
  .col-md-4.benefit-box
    %h4 Secure
    %img{class: "security-section-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/sport21.png", alt: "Secure facility"}/
    %p Our facility is secured with state of the art technology, backed by quality insurance, background checked employees & tailored logistics training. We’ll make sure you’re stuff is safe.  
  .col-md-4.benefit-box
    %h4 On Demand
    %img{class: "security-section-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/calendar68.png", alt: "Secure facility"}/
    %p We’re here for you when you need us because time is of the essence. We show up when you need us on your schedule.  
  .col-md-4.benefit-box
    %h4 Professional Personal
    %img{class: "security-section-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/license3.png", alt: "Secure facility"}/
    %p We’re licensed, bonded and insured so you can rest easy knowing QuickBox will take care of it. Never worry about your stuff again.

  