%br/
%br/
%br/
/ BLUE HEADER BAR
.container.full-width.blue-bg.no-padding.white.dashboard-header.single-row
  .row
    .col-md-6.align-center
      %h1 GET IN TOUCH!
    .col-md-1.col-md-offset-4.col-sm-4.col-xs-4.align-center
      .service-box.no-label
        .service-icon
          %i.fa.fa-question-circle.fa-3x