.boxed-grey.col-md-12
  .row#validator-id
    .col-md-6.align-left
      %label{:for => "posted_delivery_date"} Delivery Date <span class="required_label">  * required </span>
      
      #datepicker.input-append.date
        =f.text_field :posted_delivery_date, class:"span2 form-control", placeholder: 'Which day is best?'
        %span.add-on
          %i.icon-calendar
     
    .col-md-6.align-left
      %label{:for => "date-picker"} Time Of Day
      = f.select  :posted_delivery_time, options_for_select([["1:00", "13"], ["2:00", "14"]]),{}, {class:"form-control selectpicker", id:"#{select_id}"}
      %br/ 

:javascript
  var start = Date();
  $('#datepicker').datepicker();
  console.log("start: " + start);
  $('#datepicker').datepicker('setStartDate', start);
  // var picker2 = new Pikaday({ field: document.getElementById('pickup_datepicker') });
  //var picker = new Pikaday({ field: document.getElementById('delivery_datepicker') });
  
  
  $(document).ready(function() {
    $('#time-validator-id')
      .bootstrapValidator({
      feedbackIcons: {
      },
      fields: {
        'packing_supplies_request[posted_delivery_date]': {
          message: 'The address field is not valid',
          validators: {
            notEmpty: {
              message: 'You must select a date for delivery'
            }
          }
        }
      }
    })
  });
