.boxed-grey.col-md-12
  .row#validator-id
    .col-md-6.align-left
      %label{:for => "posted_delivery_date"} Delivery Date <span class="required_label">  * required </span>
      
      #datepicker.input-append.date
        =f.text_field :posted_delivery_date, class:"span2 form-control", placeholder: 'Which day is best?'
        %span.add-on
          %i.icon-calendar
     
    .col-md-6.align-left
      %label{:for => "date-picker"} Time Of Day
      = f.select  :posted_delivery_time, options_for_select([["Choose a time"],["1:00", "13"], ["2:00", "14"]]),{}, {class:"form-control selectpicker", id:"#{select_id}"}
      %br/ 

:javascript

  var start = new Date();
  var end = new Date();
  end.setDate(start.getDate()+30);

  $('#datepicker').datepicker({
      daysOfWeekDisabled: "0",
      autoclose: true,
      todayHighlight: true
  });

  console.log("start: " + start);
  console.log("end:" + end);
  $('#datepicker').datepicker('setStartDate', start);
  $('#datepicker').datepicker('setEndDate', end);






  // var picker2 = new Pikaday({ field: document.getElementById('pickup_datepicker') });
  //var picker = new Pikaday({ field: document.getElementById('pickup_request_posted_delivery_date') });
  
  
  $(document).ready(function() {
    $('#time-validator-id')
      .bootstrapValidator({
      feedbackIcons: {
      },
      fields: {
        'packing_supplies_request[posted_delivery_date]': {
          message: 'The address field is not valid',
          validators: {
            notEmpty: {
              message: 'You must select a date for delivery'
            }
          }
        }
      }
    })
  });
