.boxed-grey.col-md-12
  .row#validator-id
    .col-md-6.align-left
      %label{:for => "posted_delivery_date"} Date <span class="required_label">  * required </span>
      
      #datepicker.input-append.date
        =f.text_field :posted_delivery_date, class:"span2 form-control", id: "datepicker-value", placeholder: 'Which day is best?'
        %span.add-on
          %i.icon-calendar
     
    .col-md-6.align-left
      %label{:for => "date-picker"} Time Of Day
      = f.select  :posted_delivery_time, options_for_select([["Choose a time"]]),{}, {class:"form-control selectpicker", id:"#{select_id}"}
      %br/ 

:javascript
  $(window).load(function(){
    var start = new Date();
    var end = new Date();
    end.setDate(start.getDate()+30);

    $('#datepicker-value').datepicker({
        daysOfWeekDisabled: "0",
        autoclose: true,
        todayHighlight: true
    });
    $('#datepicker-value').datepicker('setStartDate', start);
    $('#datepicker-value').datepicker('setEndDate', end);


    $('#datepicker-value').on('changeDate', function(){
      var available_delivery_times = #{Request.available_delivery_times.to_json};
      var dropdownID = "#" + #{select_id.to_json};
      updateDropdownDates('#datepicker-value', dropdownID, available_delivery_times);
    });
  });


  

