= javascript_include_tag "bootstrap-datepicker-parent"

.boxed-grey.col-md-12
  .row#validator-id
    .col-md-6.align-left
      %label{:for => "posted_delivery_date"}
        Date
      #datepicker.input-append.date
        = f.text_field :proposed_date, class:"span2 form-control", id: "datepicker-value", placeholder: 'Which day is best?'
        %span.add-on
          %i.icon-calendar


    .col-md-6.align-left
      %label{:for => "date-picker"} Time Of Day (let us know what times work for you)
      = f.text_area  :proposed_times
      %br/
      %br/
    / .col-md-12.align-center
    /   %p.required_label.full-opacity
    /     Save by picking popular delivery dates.
    /     %span.heavy-font $5.00 credit
    /     with blue dates (
    /     %i.icon-date-box.blue
    /     )
    /     %span.heavy-font $10.00 credit
    /     with green (
    /     %i.icon-date-box.green
    /     )




:javascript
  $(document).ready(function(){
    var start = new Date();
    var end = new Date();
    start.setDate(start.getDate()+1);
    end.setDate(start.getDate()+31);

    $('#datepicker-value').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    $('#datepicker-value').datepicker('setStartDate', start);
    $('#datepicker-value').datepicker('setEndDate', end);
  });
