%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2= title
            %br/
            %p
              = description
              %span.heavy-font.blue= deliveryTime

              If you have any questions in the meantime, feel free to contact us at
              %a{:href => "mailto:theteam@spaceyouneed.com"} theteam@spaceyouneed.com
  / BODY CONTENT: SELECT ITEMS
  .container
    .row
      .col-md-8.col-md-offset-2
        .row
          / End Phone Number &amp; Instructions Box
          .col-md-8.col-md-offset-2.half-opacity.charges-box
            .single-line
            %br/
          .col-md-6.col-md-offset-3.bottom-buttons
            .boxed-gray.continue-button
              %button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"}/
              =link_to "Back To Dashboard", storage_items_path, class:"white"