/ FOOTER PARTIAL
%footer
  .container
    .row.white.align-left
      .col-md-2.col-md-offset-1.col-sm-12#footer-logo-wrapper
        %img.img-responsive#footer-logo{alt: "", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/qb-logo-white.png"}/
      %br/ 
      .col-md-2.col-sm-4.footer-entry
        %h4 Details
        %ul.no-list
          %li
            = link_to "About Us", about_path
          / %li Press
          %li 
            = link_to "Contact", contact_path
          %li
            = link_to "FAQ", faq_path
      .col-md-2.col-sm-4.footer-entry
        %h4 Contact Us
        %ul.no-list
          / %li Phone: 1-800-555-5555
          %li 
            %a{:href => "mailto:team@quickbox.com"} team@quickbox.com
          %li 
            (720) 583-5826
          / %li
          /   %a{href: "contact-us.html"} Contact Form
      / .col-md-2.col-sm-4.footer-entry
      /   %h4 Get Social
      /   %ul.no-list
      /     %li
      /       %a{href: "http://www.facebook.com"} Facebook
      /     %li
      /       %a{href: "http://www.twitter.com"} Twitte=
      .col-md-4.hide-on-small
        %h4 Office address
        %ul.no-list
          %li 1035 Pearl St, #423
          %li Boulder, CO
          %li 80302
          %li *Not storage facility
:javascript
  setTimeout(function(){var a=document.createElement("script");
  var b=document.getElementsByTagName("script")[0];
  a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0027/6951.js?"+Math.floor(new Date().getTime()/3600000);
  a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
