/ FOOTER PARTIAL
%footer
  .container
    .row.white.align-left
      .col-md-2.col-md-offset-1
        %img.img-responsive.footer-logo{alt: "", src: "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/syn-logo-white.png"}/
      .col-md-2.col-md-offset-1
        %h4 Print Page
        %ul.no-list
          %li
            %a{href: ""} About Us
          %li Press
          %li Contact
          %li FAQ
      .col-md-2
        %h4 Contact Us
        %ul.no-list
          %li Phone: 1-800-555-5555
          %li team@spaceyouneed.com
          %li
            %a{href: "contact-us.html"} Contact Form
      .col-md-2
        %h4 Get Social
        %ul.no-list
          %li
            %a{href: "contact-us.html"} Facebook
          %li
            %a{href: "contact-us.html"} Twitter
          %li
            %a{href: "contact-us.html"} Blog
      .col-md-12.col-lg-12
