/ HEADER PARTIAL
.container
  %ul#gn-menu.gn-menu-main.main-header.full-opacity
    %li.gn-trigger.no-border
      %a.no-padding
        %img#menu-img{:src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/syn-logo.png", :alt => ""}/
      / %span Menu
      %nav.gn-menu-wrapper
        .gn-scroller
          %ul.gn-menu
            %li.gn-search-item
              %input.gn-search{placeholder: "Search", type: "search"}/
              %a.gn-icon.gn-icon-search
                %span Search
            %li
              %a.gn-icon.gn-icon-download{href: "#about"} About
            %li
              %a.gn-icon.gn-icon-cog{href: "#service"} Service
            %li
              %a.gn-icon.gn-icon-help{href: "#works"} Works
            %li
              %a.gn-icon.gn-icon-archive{href: "#contact"} Contact
        / /gn-scroller
    / <li><a href="index.html">Infinite Garage</a></li>
    / %li.pull-left#menu-logo
    /   %img{:src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/syn-logo.png", :alt => ""}/ 
    %li.pull-left.no-border.half-opacity
      %a.no-side-padding{href: "/"}
        %span.light-gray.black-hover#menu-title The Space You Need
    %li.pull-right
      / %a.black-hover{href: ""} Logout
      = link_to "Logout", destroy_user_session_path, method: "delete"
    %li.pull-right.no-border
      %a{href: ""}
        %span.light-gray.black-hover Account
    %li.pull-right.no-border
      %a{href: ""}
        %span.light-gray.black-hover Contact
    %li.pull-right.no-border.half-opacity
      %a{href: ""}
        %span.light-gray.black-hover Feedback

        