.col-md-4.col-sm-4.col-xs-4.inventory-entries
	.inner
	  .avatar
	    %img.img-responsive{:alt => "https://s3.amazonaws.com/harnessthecrowd/quickbox/box-default.jpg", :src => "http://www.ikea.com/us/en/images/products/samla-box__0144440_PE303768_S4.JPG"}/
	  %h4 Simple Box
	  %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12 $4.25/month"