.col-md-3.col-sm-3.col-xs-3.inventory-entries
  .inner
    .avatar
      %img.img-responsive{:alt => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/box-default.jpg", :src => "#{imgURL}"}/
    %h4.align-center= title
    %p.align-center.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12.light-gray.no-padding= description