/ HEADER PARTIAL
/ .container
/   %ul#gn-menu.gn-menu-main.main-header.full-opacity
/     %li.gn-trigger.no-border
/       %a.no-padding{href: "/storage_items"}
/         %img#menu-img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/qb-logo.png", :alt => ""}/
  
/     // ICON & TITLE
/     %li.pull-left.no-border
/       %a.no-side-padding{href: "/storage_items"}
/         %span.light-gray.black-hover#menu-title QuickBox

/     // RIGH SIDE LINKS    
/     %li.pull-right
/       = link_to "Logout", destroy_user_session_path, method: "delete", class:"black-hover"
/     %li.pull-right.no-border
/       = link_to "Account", [:edit, @user], class:"light-gray black-hover"
/     %li.pull-right.no-border
/       = link_to "Contact", contact_path, class:"light-gray black-hover", target:"_blank"

.row.header-nav
  .nav-links-wrapper.col-md-4
    %a.no-padding.pull-left{href: "/storage_items"}
      %img#menu-img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/qb-logo.png", :alt => ""}/
    %a.pull-left.no-side-padding{href: "/storage_items"}
      %span.light-gray.black-hover#menu-title QuickBox
  .nav-links-wrapper.col-md-1.col-md-offset-5.left-border
    .nav-links
      = link_to "Contact", contact_path, class:"black-hover", target:"_blank"
  .nav-links-wrapper.col-md-1.left-border
    .nav-links
      = link_to "Account", [:edit, @user], class:"light-gray black-hover"
  .nav-links-wrapper.col-md-1
    .no-border.nav-links
      = link_to "Logout", destroy_user_session_path, method: "delete", class:"black-hover blue"

        

