
/ Modal
#outsideAreaModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "outsideAreaModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h1#outsideAreaModalLabel.modal-title.align-center Don't Live In Boulder?
      .modal-body.width-90
        %p.width-90
          Tell us know where you live, and we'll keep you updated on QuickBox availability in your area. You can reach us at:
          %a{:href => "mailto: team@quickbox.com"}
            team@quickbox.com

       
      .modal-footer
        %button.btn.btn-default.pull-left{"data-dismiss" => "modal", :type => "button"} Close
        / %button.btn.btn-primary{:type => "button"} Save changes
