
.col-md-8.col-md-offset-2.inventory
  %br/ 
  %br/ 
  .row
    = render partial: "partials/list_item_4col_field", locals:{title: "Standard Box", price: "$2.50/ea", id:"stdbox", field_val: :box_quantity, form: f, imgURL:"https://s3.amazonaws.com/storage_rails_app_dev/images/supplies-box.jpg", description:"18\" x 18\" x 16\" for books, cloths & small items"}
    = render partial: "partials/list_item_4col_field", locals:{title: "Wardrobe Box", price: "$10/ea", id:"warbox", field_val: :wardrobe_box_quantity, form: f, imgURL:"https://s3.amazonaws.com/storage_rails_app_dev/images/supplies-wardrobe.jpg", description:"24\" x 20\" x 34\" suits, poster tubes & tall items"}
    = render partial: "partials/list_item_4col_field", locals:{title: "Bubble Wrap", price: "$6/ea", id:"bubble", field_val: :bubble_quantity, form: f, imgURL:"https://s3.amazonaws.com/storage_rails_app_dev/images/supplies-bubble.jpg", description:"12\" wide x 10' long. Cocoon your precious items."}
    = render partial: "partials/list_item_4col_field", locals:{title: "Packing Tape", price: "$4/roll", id:"tape", field_val: :tape_quantity, form: f, imgURL:"https://s3.amazonaws.com/storage_rails_app_dev/images/supplies-tape.jpg", description:"2\" x 30 yards to keep your boxes in line."}



    

.col-md-6.col-md-offset-3.half-opacity.charges-box
  %br/
  %br/ 
  %br/ 
  .single-line
  %br/ 
  %br/ 
.col-md-10.col-md-offset-1
  .row
    .col-md-12.charges-box
      .row
        .col-md-10.col-md-offset-1.confirm-elem.light-blue-bg
          %h5 Packing Supplies Summary
          %ul
            %li#num-stdbox.hidden
              %span.pull-left> 0
              \&nbsp; &nbsp;Standard Boxes
              %i.pull-right.light-gray $6.50/unit
            %li#num-warbox.hidden
              %span.pull-left> 0
              \&nbsp; &nbsp;Wardrobe Boxes
              %i.pull-right.light-gray $12.00/unit
            %li#num-bubble.hidden
              %span.pull-left> 0
              \&nbsp; &nbsp;Rolls of Bubble Wrap
              %i.pull-right.light-gray $4.50/unit
            %li#num-tape.hidden
              %span.pull-left> 0
              \&nbsp; &nbsp;Packing Tape
              %i.pull-right.light-gray $9.50/unit
            %li#num-tube.hidden
              %span.pull-left> 0
              \&nbsp; &nbsp;Art/Poster Tubes
              %i.pull-right.light-gray $10.00/unit
            %br/  
            %li.half-opacity
              Shipping Fee
              %span.pull-right $5.00
          .single-line
          %ul
            %li.heavy-font
              Subtotal
              %span#order-subtotal.pull-right $00.00

