%br/ 
%br/ 
.col-md-3.security-section-icon-container
  %img{class: "security-section-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/security-section-lock.svg", alt: "Secure facility"}/
  %p Secure, alarmed facility
.col-md-3.security-section-icon-container
  %img{class: "security-section-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/security-section-camera.svg", alt: "Camera surveillance"}/
  %p 24/7 surveillance
.col-md-3.security-section-icon-container
  %img{class: "security-section-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/security-section-thermometer.svg", alt: "Climate controlled"}/
  %p Climate controlled
.col-md-3.security-section-icon-container
  %img{class: "security-section-icon", src: "https://s3.amazonaws.com/storage_rails_app_dev/images/security-section-shield.svg", alt: "All items insured"}/
  %p All items insured



.col-md-10.col-md-offset-1
  %br/ 
  %p.center-margin 
  QuickBox offers each of its customers a $2,000 per customer guarantee that your items will come back in the same condition or we’ll take care of it. Additional insurance coverage can be purchased through QuickBox. Did you know that most homeowners or rental policies also cover items in storage? Simply call your agent, and they can take care of the rest. 
