#bottom-bar
  %a.pointer#close_bottom X 
  %form.row{:action => ""}
    .col-md-4.col-md-offset-2.no-side-padding
      %p.pull-right.align-right Get $20 off by entering your email
    .col-md-2
      %input.form-control{:type => "text", placeholder: "email"}/  
    .col-md-1.no-side-padding
      %input.btn.blue-bg{:type => "submit"}

:javascript
  $('#close_bottom').click(function(){
    $('#bottom-bar').addClass('hidden');
  });