/ HEADER PARTIAL
.container
  %ul#gn-menu.gn-menu-main.main-header.full-opacity
    %li.gn-trigger.no-border
      %a.no-padding{href: "/"}
        %img#menu-img{:src => "https://s3.amazonaws.com/harnessthecrowd/SpaceYouNeed/syn-logo.png", :alt => ""}/


  
    // ICON & TITLE
    %li.pull-left.no-border.half-opacity
      %a.no-side-padding{href: "/"}
        %span.light-gray.black-hover#menu-title The Space You Need

    %li.pull-right.no-border
      = link_to 'Login', new_user_session_path, class:"light-gray black-hover"
      / # = link_to "Account", contact_path, class:"light-gray black-hover"
    %li.pull-right.no-border{disabled: true}
      %p 
    %li.pull-right.no-border
      = link_to "FAQ", faq_path, class:"light-gray black-hover thin-font" 
      / # = link_to "How It Works", contact_path, class:"light-gray black-hover thin-font"     
    %li.pull-right.no-border
      = link_to "Home", root_path, class:"light-gray black-hover thin-font" 
    