/ %p.dark-gray
/   Clear Some Space
/ .double-line
.row#validator-id.no-margin
  %p.dark-gray.heavy-font.full-opacity.no-margin
    Schedule Your First Free Pickup Today!
  .col-md-4.align-left
    #datepicker.input-append.date
      =f.text_field :proposed_date, class:"span2 form-control", id: "datepicker-value", placeholder: 'Choose a day'

      %span.add-on
        %i.icon-calendar

  .col-md-4.align-left
    = f.text_area  :proposed_times

  .col-md-4.align-left
    .continue-button
      %button.btn.btn-primary.blue-bg.blue-bg-hover.white{type: :submit} Schedule Pickup

:javascript
  $(document).ready(function(){
    var start = new Date();
    start.setDate(start.getDate()+1);
    var end = new Date();
    end.setDate(start.getDate()+30);

    $('#datepicker-value').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    $('#datepicker-value').datepicker('setStartDate', start);
    $('#datepicker-value').datepicker('setEndDate', end);

  });
