.email-header-nav
    %ul.no-list#email-header
      %li.width-50.pull-left.align-left
        %a{href: "/storage_items"}
          %img#email-menu-img{:src => "https://s3.amazonaws.com/storage_rails_app_dev/images/qb-logo.png", :alt => ""}/
        %span#email-menu-title
          QuickBox
          %span.no-pointer#company-phone (303) 718-7179