!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Infinite Garage bootstrap 3 one page template
    / Bootstrap Core CSS
    / <link href="css/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    %link{:href => "css/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/css/pikaday.css", :rel => "stylesheet"}/
    / <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    / Fonts
    %link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/nivo-lightbox.css", :rel => "stylesheet"}/
    %link{:href => "css/nivo-lightbox-theme/default/default.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/animate.css", :rel => "stylesheet"}/
    / Squad theme CSS
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "color/default.css", :rel => "stylesheet"}/
  %body{"data-spy" => "scroll"}
    .container
      %ul#gn-menu.gn-menu-main.main-header.full-opacity
        %li.gn-trigger
          %a.gn-icon.gn-icon-menu
            %span Menu
          %nav.gn-menu-wrapper
            .gn-scroller
              %ul.gn-menu
                %li.gn-search-item
                  %input.gn-search{:placeholder => "Search", :type => "search"}/
                  %a.gn-icon.gn-icon-search
                    %span Search
                %li
                  %a.gn-icon.gn-icon-download{:href => "#about"} About
                %li
                  %a.gn-icon.gn-icon-cog{:href => "#service"} Service
                %li
                  %a.gn-icon.gn-icon-help{:href => "#works"} Works
                %li
                  %a.gn-icon.gn-icon-archive{:href => "#contact"} Contact
            / /gn-scroller
        / <li><a href="index.html">Infinite Garage</a></li>
        %li.pull-right
          %a{:href => ""}
            %span.light-gray> Already Have An Account? &nbsp&nbsp
            Login Here
    / PROGRESS BAR
    .container.full-width.gray-bg.no-padding
      #progress-2.signup-progress.progress-header
        .row{:style => "width: 80%; margin-left:10%; max-height: 50px; overflow: hidden;"}
          %a.col-sm-6.col-xs-0.col-md-3{:href => ""} 1. &nbsp CHOOSE ITEMS
          %a.col-sm-6.col-xs-12.col-md-3{:href => ""} 2. &nbsp DELIVERY INFO
          %a.col-sm-6.col-xs-12.col-md-3.current-step{:href => ""} 3. &nbsp ACCOUNT SETUP
          %a.col-sm-6.col-xs-12.col-md-3{:href => ""} 4.&nbsp  CONFIRM
    %br/
    %br/
    %br/
    %br/
    %br/
    / Section: ITEM SELECTION
    %section#about.home-section.text-center
      .heading-about.marginbot-30
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .section-heading
                %h2 Create An Account
      / BODY CONTENT: SELECT ITEMS
      .container
        .row
          .col-lg-6.col-md-offset-3
            .boxed-grey
              %form#contact-form
                .row
                  .col-md-8.col-md-offset-2
                    .form-group.address-form
                      / <label for="name"> Delivery Address: </label>
                      %input#name.form-control{:placeholder => "First Name", :required => "required", :type => "text"}/
                      %input#name.form-control{:placeholder => "Last Name", :required => "required", :type => "text"}/
                      %input#name.form-control{:placeholder => "email", :required => "required", :type => "text"}/
                      %input#name.form-control{:placeholder => "password", :required => "required", :type => "password"}/
                    / END  address-form
                  / END col-md-6
                  .col-md-8.col-md-offset-2.bottom-buttons
                    / <a href="signup-account.html"><button type="submit" class="btn btn-skin pull-right">Next</button></a>
                    %a{:href => "signup-review.html"}/
                    %h1.btn.btn-skin.pull-right Create Account
                    %a{:href => "signup-delivery.html"}/
                    %h1.btn.btn-default.pull-left Back
                  / END col-12
            / END row
            %br/
            / END contact-form
          / END boxed-gray
        .col-md-9
          %a.pull-right.light-gray{:href => ""} Have an Account? Login
      / end row
      / end container
    / /Section: about
    %footer
      .container
        .row
          .col-md-12.col-lg-12
            %p
              Copyright &copy; 2014 Infinite Garage - by
              %a{:href => "http://bootstraptaste.com"} Bootstraptaste
    / Core JavaScript Files
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/jquery.easing.min.js"}
    %script{:src => "js/classie.js"}
    %script{:src => "js/gnmenu.js"}
    %script{:src => "js/jquery.scrollTo.js"}
    %script{:src => "js/nivo-lightbox.min.js"}
    %script{:src => "js/stellar.js"}
    / Custom Theme JavaScript
    %script{:src => "js/custom.js"}
