!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Infinite Garage bootstrap 3 one page template
    / Bootstrap Core CSS
    / <link href="css/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    %link{:href => "css/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/css/pikaday.css", :rel => "stylesheet"}/
    / <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    / Fonts
    %link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/nivo-lightbox.css", :rel => "stylesheet"}/
    %link{:href => "css/nivo-lightbox-theme/default/default.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/animate.css", :rel => "stylesheet"}/
    / Squad theme CSS
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "color/default.css", :rel => "stylesheet"}/
  %body{"data-spy" => "scroll"}
    %br/
    %br/
    %br/
    .container
      %ul#gn-menu.gn-menu-main.main-header.full-opacity
        %li.gn-trigger
          %a.gn-icon.gn-icon-menu
            %span Menu
          %nav.gn-menu-wrapper
            .gn-scroller
              %ul.gn-menu
                %li.gn-search-item
                  %input.gn-search{:placeholder => "Search", :type => "search"}/
                  %a.gn-icon.gn-icon-search
                    %span Search
                %li
                  %a.gn-icon.gn-icon-download{:href => "#about"} About
                %li
                  %a.gn-icon.gn-icon-cog{:href => "#service"} Service
                %li
                  %a.gn-icon.gn-icon-help{:href => "#works"} Works
                %li
                  %a.gn-icon.gn-icon-archive{:href => "#contact"} Contact
        / <li><a href="index.html">Infinite Garage</a></li>
        %li.pull-right
          %a{:href => ""}
            %span.light-gray> Already Have An Account? &nbsp&nbsp
            Login Here
    / PROGRESS BAR
    .container.full-width.gray-bg.no-padding
      #progress-2.signup-progress.progress-header
        .row{:style => "width: 80%; margin-left:10%; max-height: 50px; overflow: hidden;"}
          %a.col-sm-6.col-xs-0.col-md-3{:href => ""} 1. &nbsp CHOOSE ITEMS
          %a.col-sm-6.col-xs-12.col-md-3.current-step{:href => ""} 2. &nbsp DELIVERY INFO
          %a.col-sm-6.col-xs-12.col-md-3{:href => ""} 3. &nbsp ACCOUNT SETUP
          %a.col-sm-6.col-xs-12.col-md-3{:href => ""} 4.&nbsp  CONFIRM
    %br/
    %br/
    %br/
    %br/
    / Section: ITEM SELECTION
    %section#about.home-section.text-center
      .heading-about.marginbot-20
        .container
          .row
            .col-lg-10.col-lg-offset-1
              .section-heading
                %h2 WHAT WOULD YOU LIKE TO STORE?
                %br/
                %br/
                %br/
      / BODY CONTENT: SELECT ITEMS
      .container.inventory
        .row
          .col-md-10.col-md-offset-1
            .row
              .col-md-8
                / Boxes At Home
                .row
                  %h2
                    Standard Storage
                    %a.pull-right{:href => "#faq"} Want More Information?
                  .double-line
                  / Item listing
                  .col-md-6.col-sm-6.col-xs-6.inventory-entries
                    .inner
                      .avatar
                        %img.img-responsive{:alt => "", :src => "img/team/7.PNG"}/
                      .row
                        .col-md-3.col-sm-12.col-xs-12.button-group
                          %input#txt-stdbox.form-control.full-width.quantity-field{:placeholder => "0", :type => "text"}/
                          %button#stdbox.btn.btn-primary.btn-inc{:type => "button"} +
                        .col-md-9.col-sm-12.col-xs-12.text-group
                          %h4 Standard Box
                          %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12 $6.25/month, 22" x 18" x 12"
                      / end row
                  / End Item Listing
                  / Item listing
                  .col-md-6.col-sm-6.col-xs-6.inventory-entries
                    .inner
                      .avatar
                        %img.img-responsive{:alt => "", :src => "img/team/7.PNG"}/
                      .row
                        .col-md-3.col-sm-12.col-xs-12.button-group
                          %input#txt-warbox.form-control.full-width.quantity-field{:placeholder => "0", :type => "text"}/
                          %button#warbox.btn.btn-primary.btn-inc{:type => "button"} +
                        .col-md-9.col-sm-12.col-xs-12.text-group
                          %h4 Wardrobe Box
                          %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12 $6.25/month, 22" x 18" x 12"
                      / end row
                  / End Item Listing
                / end row
                %br/
                %br/
                / Existing Inventory Row
                .row
                  %h2
                    Specialty Storage
                    %a.pull-right{:href => "#faq"} Want More Information?
                  .double-line
                  / Item listing
                  .col-md-6.col-sm-6.col-xs-6.inventory-entries
                    .inner
                      .avatar
                        %img.img-responsive{:alt => "", :src => "img/team/7.PNG"}/
                      .row
                        .col-md-3.col-sm-12.col-xs-12.button-group
                          %input#txt-couch.form-control.full-width.quantity-field{:placeholder => "0", :type => "text"}/
                          %button#couch.btn.btn-primary.btn-inc{:type => "button"} +
                        .col-md-9.col-sm-12.col-xs-12.text-group
                          %h4 Medium Couch
                          %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12 $6.25/month, 22" x 18" x 12"
                      / end row
                  / End Item Listing
                  / Item listing
                  .col-md-6.col-sm-6.col-xs-6.inventory-entries
                    .inner
                      .avatar
                        %img.img-responsive{:alt => "", :src => "img/team/7.PNG"}/
                      .row
                        .col-md-3.col-sm-12.col-xs-12.button-group
                          %input#txt-bike.form-control.full-width.quantity-field{:placeholder => "0", :type => "text"}/
                          %button#bike.btn.btn-primary.btn-inc{:type => "button"} +
                        .col-md-9.col-sm-12.col-xs-12.text-group
                          %h4 Bicycle
                          %p.subtitle.box-subtitle.col-md-12.col-sm-12.col-xs-12 $6.25/month, 22" x 18" x 12"
                      / end row
                  / End Item Listing
                / end row
                #faq.row
                  %br/
                  %br/
                  %br/
                  %br/
                  %br/
                  %br/
                  .col-md-12.col-sm-12.col-xs-12.align-left
                    %h2
                      FAQ
                      %a.pull-right{:href => "extra-faq.html"} Find The Full List Here
                    .double-line
                    %ul.no-list
                      %li
                        %a{:href => ""} Want To Store Something Really Big? We can do that!
                      %li
                        %a{:href => ""} Nullam id dolor id nibh ultricies valera?
                      %li
                        %a{:href => ""} Cras mattis consectetur purus sit amet fermentum purus sit amet.
                      %li
                        %a{:href => ""} Can I pay with gold coins?
                      %li
                        %a{:href => ""} What is the average velocity of an African swollow?
                %br/
                %br/
                %br/
              .col-md-4.inventory-sidebar
                .row.sidebar-txtentry.light-blue-bg
                  .inner
                    / <h5>Notice</h5>
                    / <div class="single-line"></div>
                    %p
                      Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo.
                .row.sidebar-txtentry.bg-gray
                  .inner
                    %h5 Your Order
                    .single-line
                    %ul.no-list
                      %li#no-items.order-item.half-opacity
                        %i You have no items in your order.
                      %li#num-stdbox.order-item.hidden
                        Standard Box
                        %span.pull-right 0
                      %li#num-warbox.order-item.hidden
                        Wardrobe Boxes
                        %span.pull-right 0
                      %li#num-couch.order-item.hidden
                        Couches
                        %span.pull-right 0
                      %li#num-bike.order-item.hidden
                        Bikes
                        %span.pull-right 0
                      %li.order-item
                        .single-line.half-opacity
                    %ul.no-list
                      %li.heavy-font
                        Subtotal
                        %span#order-subtotal.pull-right $00.00/m
                      / <li>Flexible Storage Savings</span><span class="pull-right" id="order-savings"> $125.00/m</span></li>
                      / <li class="small-text">savings based on std storage container rates</li>
                .row
                  .boxed-gray.continue-button
                    %a{:href => "signup-delivery.html"}
                      %button#request-btn.btn.btn-primary.blue-bg.blue-bg-hover{:disabled => "", :type => "button"} Request Storage
                    / <button type="button" class="btn btn-primary gray-bg"><a href="delivery-info.html" style="color: white;">Request Pickup</a></button>
                %br/
                %br/
                /
                  <div class="row sidebar-txtentry advice-box" >
                  <h5>Questions?</h5>
                  <p>Visit our <a href="">FAQ Page</a> or get <a href="">live support.</a></p>
                  </div>
            / end row
        / end row
    / /Section: about
    %footer
      .container
        .row
          .col-md-12.col-lg-12
            %p
              Copyright &copy; 2014 Infinite Garage - by
              %a{:href => "http://bootstraptaste.com"} Bootstraptaste
    / Core JavaScript Files
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/jquery.easing.min.js"}
    %script{:src => "js/classie.js"}
    %script{:src => "js/gnmenu.js"}
    %script{:src => "js/jquery.scrollTo.js"}
    %script{:src => "js/nivo-lightbox.min.js"}
    %script{:src => "js/stellar.js"}
    / Custom Theme JavaScript
    %script{:src => "js/custom.js"}
    / // <script src="newbox.js"></script>
    %input#01-stdbx-txt.form-control.full-width{:placeholder => "0", :type => "text"}/
    %button#01-stdbx.btn.btn-primary.btn-inc{:type => "button"} +
    :javascript
      $(".btn-inc").click(function(){
      	var id = $(this).attr('id');

      	// update text field - incrememnt by one
      	var field = $("#txt-"+id);
      	var val = $(field).val();
      	val = +val + 1;
      	$(field).val(val);

      	// update subtotal
      	var orderEntrySpan = $('#num-'+id+" span");
      	// redoCalculations();
      	refreshOrder(val, orderEntrySpan);
      });

      $(".quantity-field").change(function(){
      	var field = $(this);
      	var id = field.attr("id");
      	var idRoot = id.substr(4);
      	console.log(idRoot);
      	console.log(field.attr('id'));
      	var orderEntrySpan = $('#num-'+idRoot+ " span");
      	refreshOrder(field.val(), orderEntrySpan);
      });

      function refreshOrder(val, orderEntrySpan){
      	orderEntrySpan.html(parseInt(val));
      	var orderEntry = orderEntrySpan.parent();
      	
      	if (val == 0) orderEntry.addClass('hidden');
      	else orderEntry.removeClass('hidden');
      	
      	redoCalculations();
      }

      function redoCalculations(){
      	var numCouches = $('#txt-couch').val();
      	var numStdBox = $('#txt-stdbox').val();
      	var numWarBox = $('#txt-warbox').val();
      	var numBike = $('#txt-bike').val();
      	
      	var totalItems = numBike + numCouches + numStdBox + numWarBox;
      	if (totalItems > 0) $('#no-items').addClass('hidden');
      	else $('#no-items').removeClass('hidden');

      	var total = 15.00*numBike + 30.00*numCouches + 6.25*numStdBox + 12.00*numWarBox;
      	console.log("total:" + total);
      	$('#order-subtotal').text("$" + total+"/m");
      	if (total < 0.1){
      		$("#request-btn").attr("disabled", "disabled");
      	} else{
      		$("#request-btn").removeAttr("disabled");

      	}

      }
