!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Infinite Garage bootstrap 3 one page template
    / Bootstrap Core CSS
    / <link href="css/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    %link{:href => "css/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/css/pikaday.css", :rel => "stylesheet"}/
    / <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    / Fonts
    %link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/nivo-lightbox.css", :rel => "stylesheet"}/
    %link{:href => "css/nivo-lightbox-theme/default/default.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/animate.css", :rel => "stylesheet"}/
    / Squad theme CSS
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "color/default.css", :rel => "stylesheet"}/
  %body{"data-spy" => "scroll"}
    %br/
    %br/
    %br/
    .container
      %ul#gn-menu.gn-menu-main.main-header.full-opacity
        %li.gn-trigger
          %a.gn-icon.gn-icon-menu
            %span Menu
          %nav.gn-menu-wrapper
            .gn-scroller
              %ul.gn-menu
                %li.gn-search-item
                  %input.gn-search{:placeholder => "Search", :type => "search"}/
                  %a.gn-icon.gn-icon-search
                    %span Search
                %li
                  %a.gn-icon.gn-icon-download{:href => "#about"} About
                %li
                  %a.gn-icon.gn-icon-cog{:href => "#service"} Service
                %li
                  %a.gn-icon.gn-icon-help{:href => "#works"} Works
                %li
                  %a.gn-icon.gn-icon-archive{:href => "#contact"} Contact
            / /gn-scroller
        / <li><a href="index.html">Infinite Garage</a></li>
        %li.pull-right
          %a{:href => ""}
            %span.light-gray> Already Have An Account? &nbsp&nbsp
            Login Here
    / PROGRESS BAR
    .container.full-width.gray-bg.no-padding
      #progress-2.signup-progress.progress-header
        .row{:style => "width: 80%; margin-left:10%; max-height: 50px; overflow: hidden;"}
          %a.col-sm-6.col-xs-0.col-md-3{:href => ""} 1. &nbsp CHOOSE ITEMS
          %a.col-sm-6.col-xs-12.col-md-3.current-step{:href => ""} 2. &nbsp DELIVERY INFO
          %a.col-sm-6.col-xs-12.col-md-3{:href => ""} 3. &nbsp ACCOUNT SETUP
          %a.col-sm-6.col-xs-12.col-md-3{:href => ""} 4.&nbsp  CONFIRM
    %br/
    %br/
    %br/
    / Section: ITEM SELECTION
    %section#about.home-section.text-center
      .heading-about.marginbot-30
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .section-heading
                %h2 WHERE SHOULD WE SEND YOUR BOXES?
      / BODY CONTENT: SELECT ITEMS
      .container
        .row
          .col-lg-8.col-md-offset-2
            .boxed-grey
              %form#contact-form
                .row
                  .col-md-6
                    .form-group.address-form
                      %label{:for => "name"} Delivery Address:
                      %input#name.form-control{:placeholder => "Address Line 1", :required => "required", :type => "text"}/
                      %input#name.form-control{:placeholder => "Address Line 2", :required => "required", :type => "text"}/
                      .row
                        .col-md-6.col-sm-6.col-xs-6.col-lg-6
                          %input#name.col-md-6.form-control{:placeholder => "City", :required => "required", :type => "text"}/
                        .col-md-3.col-sm-3.col-xs-3.col-lg-3.form-field-wrapper
                          %input#name.form-control{:placeholder => "st", :required => "required", :type => "text"}/
                        .col-md-3.col-sm-3.col-xs-3.col-lg-3.form-field-wrapper
                          %input#name.form-control{:placeholder => "zip", :required => "required", :type => "text"}/
                      / END row
                    / END  address-form
                  / END col-md-6
                  .col-md-6
                    .form-group
                      .col-md-12
                        .form-group.delivery-date-group
                          %label{:for => "date-picker"} Delivery Date
                          %input#datepicker.form-control{:name => "date-picker", :placeholder => "Does tomorrow work for you?", :type => "text"}/
                          %br/
                          %label{:for => "date-picker"} Time Of Day
                          /
                            <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle full-width" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Choose Date
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><p class="menuitem" >Action</p></li>
                            <li role="presentation"><p class="menuitem" >Another action</p></li>
                            <li role="presentation"><p class="menuitem" >Something else here</p></li>
                            <li role="presentation"><p class="menuitem" >Separated link</p></li>
                            </ul>
                            </div>
                          %select.form-control.selectpicker
                            %option 6:30AM - 10:00PM
                            %option Ketchup
                            %option Relish
                          %script{:src => "js/pikaday.js"}
                          :javascript
                            var picker = new Pikaday(
                            {
                                field: document.getElementById('datepicker'),
                                firstDay: 1,
                                minDate: new Date('2000-01-01'),
                                maxDate: new Date('2020-12-31'),
                                yearRange: [2000,2020]
                            });
                      / END form group
                    / END col-6
                  / END row
                  %br/
                  .col-md-12.bottom-buttons
                    / <a href="signup-account.html"><button type="submit" class="btn btn-skin pull-right">Next</button></a>
                    %a{:href => "signup-account.html"}/
                    %h1.btn.btn-skin.pull-right NEXT
                    %a{:href => "signup-items.html"}/
                    %h1.btn.btn-default.pull-left Back
                  / END col-12
              / END contact-form
            / END boxed-gray
        / end row
      / end container
    / /Section: about
    %footer
      .container
        .row
          .col-md-12.col-lg-12
            %p
              Copyright &copy; 2014 Infinite Garage - by
              %a{:href => "http://bootstraptaste.com"} Bootstraptaste
    / Core JavaScript Files
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/jquery.easing.min.js"}
    %script{:src => "js/classie.js"}
    %script{:src => "js/gnmenu.js"}
    %script{:src => "js/jquery.scrollTo.js"}
    %script{:src => "js/nivo-lightbox.min.js"}
    %script{:src => "js/stellar.js"}
    / Custom Theme JavaScript
    %script{:src => "js/custom.js"}
