!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Infinite Garage bootstrap 3 one page template
    / Bootstrap Core CSS
    / <link href="css/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    %link{:href => "css/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/css/pikaday.css", :rel => "stylesheet"}/
    / <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    / Fonts
    %link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/nivo-lightbox.css", :rel => "stylesheet"}/
    %link{:href => "css/nivo-lightbox-theme/default/default.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/animate.css", :rel => "stylesheet"}/
    / Squad theme CSS
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "color/default.css", :rel => "stylesheet"}/
  %body{"data-spy" => "scroll"}
    .container
      %ul#gn-menu.gn-menu-main.main-header.full-opacity
        %li.gn-trigger
          %a.gn-icon.gn-icon-menu
            %span Menu
          %nav.gn-menu-wrapper
            .gn-scroller
              %ul.gn-menu
                %li.gn-search-item
                  %input.gn-search{:placeholder => "Search", :type => "search"}/
                  %a.gn-icon.gn-icon-search
                    %span Search
                %li
                  %a.gn-icon.gn-icon-download{:href => "#about"} About
                %li
                  %a.gn-icon.gn-icon-cog{:href => "#service"} Service
                %li
                  %a.gn-icon.gn-icon-help{:href => "#works"} Works
                %li
                  %a.gn-icon.gn-icon-archive{:href => "#contact"} Contact
            / /gn-scroller
        / <li><a href="index.html">Infinite Garage</a></li>
        %li.pull-right
          %a{:href => ""}
            %span.light-gray> Already Have An Account? &nbsp&nbsp
            Login Here
    / PROGRESS BAR
    /
      <div class="container full-width gray-bg no-padding">
      <ul id="progress-1" class="signup-progress progress-header">
      <li>CHOOSE ITEMS</li>
      <li>DELIVERY INFO</li>
      <li>ACCOUNT SETUP</li>
      <li>CONFIRM</li>
      </ul>
      </div>
    / PROGRESS BAR
    #progress-bar.container.full-width.gray-bg.no-padding
      #progress-2.signup-progress.progress-header
        .row{:style => "width: 80%; margin-left:10%; max-height: 50px; overflow: hidden;"}
          %a.col-sm-6.col-xs-0.col-md-3{:href => ""} 1. &nbsp CHOOSE ITEMS
          %a.col-sm-6.col-xs-12.col-md-3{:href => ""} 2. &nbsp DELIVERY INFO
          %a.col-sm-6.col-xs-12.col-md-3{:href => ""} 3. &nbsp ACCOUNT SETUP
          %a.col-sm-6.col-xs-12.col-md-3.current-step{:href => ""} 4.&nbsp  CONFIRM
    %script{:src => "http://code.jquery.com/jquery-1.10.2.js"}
    :javascript
      $(window).resize(function(){
      	checkSize();
      });

      $(document).ready(function(){
      	checkSize();
      });

      function checkSize(){
      	if ($(window).width()<1050){
      		$("#progress-bar").addClass("hidden");
      	}
      	else{
      		$("#progress-bar").removeClass("hidden");

      	}
      }
    %br/
    %br/
    %br/
    / Section: ITEM SELECTION
    %section#about.home-section.text-center
      .heading-about.marginbot-30
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .section-heading
                %h2 Confirm Your Order
      / BODY CONTENT: SELECT ITEMS
      .container
        .row
          .col-lg-8.col-md-offset-2
            %h3.double-underlined Order Details
            .double-line
            .row
              .col-md-4.confirm-elem
                %h5 Your Order
                %ul
                  %li
                    %span.order-item Standard Box
                    %span.pull-right 3
                  %li
                    %span.order-item Wardrobe Box
                    %span.pull-right 1
                  %li
                    %span.order-item Bicycle
                    %span.pull-right 1
                .single-line
                %ul
                  %li.light-gray
                    %span.order-item Subtotal:
                    %span.pull-right $30/month
                  %li
                    %span.order-item.blue.heavy-font Savings:
                    %span.pull-right.heavy-font $165/month
              .col-md-4.confirm-elem
                %h5 Delivery Time
                %p Tuesday, July 29 between
                %p 5:30 and 6:00 PM
              .col-md-4.confirm-elem
                %h5 Your Address
                %p 1035 Pearl St. #211
                %p Boulder, CO 80302
            %br/
            %br/
            %h3.double-underlined Payment Info
            .double-line
            %form#contact-form
              .bg-gray
                %br/
                .row
                  .col-md-8.col-md-offset-2
                    .form-group.address-form
                      %label{:for => "name"} Name on Credit Card
                      %input#name.form-control{:placeholder => "e.g. John Doe", :required => "required", :type => "text"}/
                      %br/
                      %label{:for => "name"} Credit Card Number
                      %input#name.form-control{:placeholder => "e.g. 1234 5678 9012 3456", :required => "required", :type => "text"}/
                      %br/
                      .row
                        .col-md-6.col-sm-6.col-xs-6.col-lg-6
                          %label{:for => "name"} Expiration Month
                          %input#name.col-md-6.form-control{:placeholder => "mm", :required => "required", :type => "text"}/
                        .col-md-6.col-sm-6.col-xs-6.col-lg-6
                          %label{:for => "name"} Expiration Year
                          %input#name.col-md-6.form-control{:placeholder => "yyyy", :required => "required", :type => "text"}/
                      / END row
                    / END  address-form
                  / END col-md-6
                  .col-md-8.col-md-offset-2
                / END row
                /
                  <div class="col-md-12 bottom-buttons">
                  <button type="submit" class="btn btn-skin pull-right" id="btnContactUs"> Send Message</button>
                  <button type="cancel" class="btn btn-default pull-left" id="btnContactUs">Back</button>
                  </div>
                / END col-12
                %br/
              / END boxed-gray
              %br/
              .bg-gray
                %br/
                .row
                  .col-md-8.col-md-offset-2
                    .form-group.address-form
                      %label{:for => "name"}
                        Your Phone Number
                        %span (for deliveries)
                      %input#name.form-control{:placeholder => "", :required => "required", :type => "text"}/
                      %br/
                    / END  address-form
                  / END col-md-6
                  .col-md-8.col-md-offset-2
                / END row
                /
                  <div class="col-md-12 bottom-buttons">
                  <button type="submit" class="btn btn-skin pull-right" id="btnContactUs"> Send Message</button>
                  <button type="cancel" class="btn btn-default pull-left" id="btnContactUs">Back</button>
                  </div>
                / END col-12
              / END boxed-gray
              %br/
              .row
                .col-md-5.col-md-offset-2.no-side-padding
                  %p.align-right.pull-left
                    Maecenas sed diam eget risus varius blandit sit amet non magna.
                .col-md-1
                  %input#terms-checkbox.pull-right{:type => "checkbox"}/
                .col-md-4
                  .boxed-gray.continue-button
                    %a{:href => "user-dashboard.html"}
                      %button.btn.btn-primary{:type => "button"} Confirm Order
            / END contact-form
        / end row
      / end container
    / /Section: about
    %footer
      .container
        .row
          .col-md-12.col-lg-12
            %p
              Copyright &copy; 2014 Infinite Garage - by
              %a{:href => "http://bootstraptaste.com"} Bootstraptaste
    / Core JavaScript Files
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/jquery.easing.min.js"}
    %script{:src => "js/classie.js"}
    %script{:src => "js/gnmenu.js"}
    %script{:src => "js/jquery.scrollTo.js"}
    %script{:src => "js/nivo-lightbox.min.js"}
    %script{:src => "js/stellar.js"}
    / Custom Theme JavaScript
    %script{:src => "js/custom.js"}
