!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Infinite Garage bootstrap 3 one page template
    / Bootstrap Core CSS
    / <link href="css/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    %link{:href => "css/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/css/pikaday.css", :rel => "stylesheet"}/
    / <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    / Fonts
    %link{:href => "font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/nivo-lightbox.css", :rel => "stylesheet"}/
    %link{:href => "css/nivo-lightbox-theme/default/default.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/animate.css", :rel => "stylesheet"}/
    / Squad theme CSS
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{:href => "color/default.css", :rel => "stylesheet"}/
  %body{"data-spy" => "scroll"}
    .container
      %ul#gn-menu.gn-menu-main.main-header.full-opacity
        %li.gn-trigger
          %a.gn-icon.gn-icon-menu
            %span Menu
          %nav.gn-menu-wrapper
            .gn-scroller
              %ul.gn-menu
                %li.gn-search-item
                  %input.gn-search{:placeholder => "Search", :type => "search"}/
                  %a.gn-icon.gn-icon-search
                    %span Search
                %li
                  %a.gn-icon.gn-icon-download{:href => "#about"} About
                %li
                  %a.gn-icon.gn-icon-cog{:href => "#service"} Service
                %li
                  %a.gn-icon.gn-icon-help{:href => "#works"} Works
                %li
                  %a.gn-icon.gn-icon-archive{:href => "#contact"} Contact
            / /gn-scroller
        / <li><a href="index.html">Infinite Garage</a></li>
        %li.pull-right
          %a{:href => ""}
            %span.light-gray> Already Have An Account? &nbsp&nbsp
            Login Here
    %br/
    %br/
    %br/
    / BLUE HEADER BAR
    .container.full-width.blue-bg.no-padding.white.dashboard-header.single-row
      .row
        .col-md-6.align-center
          %h1 SCHEDULE DELIVERY
        / Dashboard
        .col-md-1.col-md-offset-3.col-sm-4.col-xs-4.align-center
          .service-box
            %a{:href => "user-dashboard.html"}
            .service-icon
              %i.fa.fa-dashboard
            .service-desc
              %h6 Dashboard
        / Questions
        .col-md-1.col-sm-4.col-xs-4.align-center
          .service-box
            %a{:href => "faq.html"}
            .service-icon
              %i.fa.fa-question-circle
            .service-desc
              %h6 FAQ
    / END SECONDARY HEADER
    / Section: ITEM SELECTION
    %section#about.home-section.text-center
      .heading-about.marginbot-20
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .section-heading
                %h2 REQUEST A NEW DELIVERY
      / BODY CONTENT: SELECT ITEMS
      .container
        .row
          .col-md-8.col-md-offset-2
            .row
              / Date &amp; Address Box
              .boxed-grey.col-md-12
                %form#contact-form
                  .row
                    .col-md-6
                      .form-group.address-form
                        %label{:for => "name"} Delivery Address:
                        %input#name.form-control{:placeholder => "Address Line 1", :required => "required", :type => "text"}/
                        %input#name.form-control{:placeholder => "Address Line 2", :required => "required", :type => "text"}/
                        .row
                          .col-md-6.col-sm-6.col-xs-6.col-lg-6
                            %input#name.col-md-6.form-control{:placeholder => "City", :required => "required", :type => "text"}/
                          .col-md-3.col-sm-3.col-xs-3.col-lg-3.form-field-wrapper
                            %input#name.form-control{:placeholder => "st", :required => "required", :type => "text"}/
                          .col-md-3.col-sm-3.col-xs-3.col-lg-3.form-field-wrapper
                            %input#name.form-control{:placeholder => "zip", :required => "required", :type => "text"}/
                        / END row
                      / END  address-form
                    / END col-md-6
                    .col-md-6
                      .form-group
                        .col-md-12
                          .form-group.delivery-date-group
                            %label{:for => "date-picker"} Delivery Date
                            %input#datepicker.form-control{:name => "date-picker", :placeholder => "Does tomorrow work for you?", :type => "text"}/
                            %br/
                            %label{:for => "date-picker"} Time Of Day
                            %select.form-control.selectpicker
                              %option 6:30AM - 10:00PM
                              %option Ketchup
                              %option Relish
                      / END form group
                    / END col-6
                  / END row
                / END Date &amp; Address Form
              / end boxed gray, col12
              / End Date &amp; Address Box
              / Start Phone Number &amp; Instructions Box
              .boxed-grey.col-md-12
                %form#contact-form
                  .row
                    .col-md-6.align-left
                      %label{:for => "name"} Phone Number (for delivery)
                      %input#name.form-control{:placeholder => "Address Line 1", :required => "required", :type => "text"}/
                    .col-md-6.align-left
                      %label{:for => "name"} Any Special Instructions?
                      %textarea#message.form-control{:cols => "25", :name => "message", :placeholder => "Message", :required => "required", :rows => "2"}
              / End Phone Number &amp; Instructions Box
              .col-md-8.col-md-offset-2.half-opacity.charges-box
                %br/
                .single-line
                %br/
              / Payment &amp; Confirmation Box
              .col-md-12.charges-box
                .row
                  .col-md-6.confirm-elem.light-blue-bg
                    %h5 Items Requested
                    %ul
                      %li
                        %span.order-item Shoe Box
                        %span.pull-right.font-italic.half-opacity Standard Item
                      %li
                        %span.order-item Wardrobe Box
                        %span.pull-right.font-italic.half-opacity Standard Item
                      %li
                        %span.order-item Bicycle
                        %span.pull-right.font-italic.half-opacity Standard Item
                      %li
                        %span.order-item Livingroom Couch
                        %span.pull-right.font-italic.half-opacity Furniture / Large Item
                  .col-md-6.confirm-elem.light-blue-bg
                    %h5 Account Charges
                    %ul
                      %li
                        Base Delivery Fee
                        %span.pull-right $15.00
                      %li
                        %span.charge-quantity 3x
                        %span.order-item Standard Item
                        %span.pull-right $7.50
                      %li
                        %span.charge-quantity 1x
                        %span.order-item
                          Large Item
                          %i (ex: furniture)
                        %span.pull-right $15.00
                    .single-line
                    %ul
                      %li
                        %span.order-item Subtotal:
                        %span.pull-right $37.50
                / end row
              .col-md-12.bottom-buttons
                .boxed-gray.continue-button
                  %button.btn.btn-primary.blue-bg{:type => "button"}/
                  %a{:href => "user-dashboard.html", :style => "color: white;"} Confirm Order
              / END col-12
            / END ROW
          / end row wrapper
        / end row
      / end container
    / /Section: about
    %footer
      .container
        .row
          .col-md-12.col-lg-12
            %p
              Copyright &copy; 2014 Infinite Garage - by
              %a{:href => "http://bootstraptaste.com"} Bootstraptaste
    / Core JavaScript Files
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/jquery.easing.min.js"}
    %script{:src => "js/classie.js"}
    %script{:src => "js/gnmenu.js"}
    %script{:src => "js/jquery.scrollTo.js"}
    %script{:src => "js/nivo-lightbox.min.js"}
    %script{:src => "js/stellar.js"}
    / Custom Theme JavaScript
    %script{:src => "js/custom.js"}
    %script{:src => "js/pikaday.js"}
    :javascript
      var picker = new Pikaday(
      {
          field: document.getElementById('datepicker'),
          firstDay: 1,
          minDate: new Date('2000-01-01'),
          maxDate: new Date('2020-12-31'),
          yearRange: [2000,2020]
      });
