- content_for :title do
  = "Packing Supplies Request |"
= render partial: 'partials/standard_header'  


%section#about.home-section.text-center
  .heading-about.marginbot-20
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 Your Order Has Been Recorded!
            %br/
            %p
              We'll send you a confirmation email as soon as your items ship.
              If you have any questions in the meantime, feel free to contact us at
              %a{:href => "mailto:team@quickbox.com"} team@quickbox.com.
              Thanks!
  / BODY CONTENT: SELECT ITEMS
  .container
    .row
      .col-md-8.col-md-offset-2
        .row
          / End Phone Number &amp; Instructions Box
          .col-md-8.col-md-offset-2.half-opacity.charges-box
            .single-line
            %br/
          .col-md-6.col-md-offset-3.bottom-buttons
            .boxed-gray.continue-button
              %button.btn.btn-primary.blue-bg.blue-bg-hover{:type => "button"}/
              =link_to "Back To Dashboard", storage_items_path, class:"white"


= render partial: "partials/footer"
